@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*  padding-top: 30px;*/
/*}*/

/*.App {*/
/*  text-align: center;*/
/*}*/

/*@font-face {*/
/*  font-family: "burtons";*/
/*  src: url("../");*/
/*}*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: 'Encode Sans Expanded', sans-serif;*/
}


.skills .open{
  transform: rotate(-180deg);
}

.qualification {

}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #6D28D9;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #6D28D9;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper .swiper-button-next {
    color: #6D28D9;
}
.swiper .swiper-button-prev {
    color: #6D28D9;
}
.swiper .swiper-pagination-bullet{
  background-color: #6D28D9;
}

nav.scrolled {
  @apply shadow-2xl;
  border-bottom: 0;
}